body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter-container {
    text-align: center;
    width: 300px;
}

input,
button {
    margin-top: 10px;
    padding: 5px;
}

button {
    cursor: pointer;
}